<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="CardsLibrary.Shoe, CardsLibrary" objectUri="shoe.soap" />
      </service>
      <channels>
        <channel port="10000" ref="http">
          <!-- The following channel setting is required to 
          enable callbacks. For security reasons the default 
          setting (Low) won't permit the server to automatically
          deserialize custom types like an UpdatesFromServer object. -->
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>